---
---

@import "{{ site.theme }}";
@import url("https://storage.googleapis.com/demos.nplan.io/assets/fonts.css");

$primary: #162b37;

body {
  font-family: "Avenir";
}

h1,
h2 {
  font-family: "DIN";
  color: $primary;
}

a {
  color: $primary;
}
