---
---

@import "{{ site.theme }}";
@import url("https://storage.googleapis.com/demos.nplan.io/assets/fonts.css");

$primary: #162b37;

body {
  font-family: "Avenir";
}

h1,
h2,
h3{
  font-family: "DIN";
  color: $primary;
}

a {
  color: $primary;
  &:hover {
    font-weight: normal;
    color: $primary;
    text-decoration: underline;
  }
}

.blackandwhite {
  filter: gray;
  filter: grayscale(100%);
}

.photo-container {
  display: flex;
  figure {
    width: calc(50% - 10px);
    margin: 0;
    text-align: center;
    &:first-of-type {
      margin-right: 20px;
    }
    img {
      width: 100%;
    }
    figcaption {
      font-size: 13px;
      font-weight: 400;
    }
  }
}
